.content {
  table {
    border-color: transparent;
    border-width: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    tbody {
      border-color: $grey_7;
    }
    td, th {
      border: 1px solid $grey_7;
      padding: 0.8em;
    }
    &.no-zebra {
      tr:nth-child(even) {
        background-color: transparent;
      }
    }
    /* Views table, the default is zebra. */
    tr.even {
      background-color: white;
    }
    tr.odd {
      background-color: $zebra-bg;
    }
  }
  div.table-container {
    max-width: 100%;
    margin-bottom: 25px;
    overflow-y: auto;
    @include breakpoint(desktop) {
      overflow-x: hidden;
    }
  }
}
