.block-twitter-block, #block-bean-twitter-feeds {
  padding-top: $default_padding * 2;
  padding-bottom: $default_padding * 2;
  h2 {
    @include center-column($desktop_column);
    @include medium-title;
    color: $color-brand-black;
    font-family: $font_source_sans;
    font-size: em(36px);
  }
  &>.content {
    @include center-column($mobile_column);
    @include breakpoint(large_tablet) {
      max-width: $desktop_column;
    }
  }
  iframe {
    width: 100% !important;
  }
}
