#block-govcms-social-links-services {
  background-color: $neutral_5;
  border: none;
  .inner-wrapper {
    @include center-column($desktop_column);
    display: block;
    align-items: center;
    color: white;
    padding-top: rem(38px);
    padding-bottom: rem(38px);
    @include breakpoint(tablet) {
      display: flex;
    }
    h2 {
      margin: 0;
      margin-right: rem(10px);
      margin-bottom: rem(10px);
      display: block;
      font-size: rem(24px);
      font-weight: 400;
      @include breakpoint(tablet) {
        display: inline;
        margin-bottom: 0;
      }
      &:after {
        content: ": ";
      }
    }
    .content {
      display: block;
      @include breakpoint(tablet) {
        display: inline;
      }
      a {
        border: none;
        margin-right: rem(10px);
        display: inline-block;
        vertical-align: middle;
        img {
          float: left;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

// =========================================================
// SOCIAL MEDIA SHARING SECTION
// =========================================================
.content-body .content {
  #block-service-links-service-links {
    border-top: 1px solid $grey_5;
    border-bottom: 1px solid $grey_5;
    padding: 20px 0;
    h2 {
      color: $color-brand-black;
      font-family: $font_source_sans;
      font-size: em(14px);
      font-weight: 600;
      line-height: em(18px);
      margin: 0 0 10px;
      text-transform: uppercase;
    }
    a {
      border: none;
      margin-right: 5px;
      &::after {
        display: none;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }
}
