// =========================================================
// FAQ PAGE
// =========================================================
.item-list {
  width: 100%;
}

.view-faq {
  .view-filters {
    .views-exposed-form .views-exposed-widget {
      float: none;
      display: inline-block;
      vertical-align: bottom;
      .form-submit {
        margin-top: 0;
        margin-bottom: 15px;
      }
    }
  }
}
