@mixin accordion-header() {
  background-color: $primary_1;
  cursor: pointer;
  color: white;
  font-size: em(18px);
  font-weight: 600;
  line-height: 1.2em;
  padding: 15px 35px 15px 10px;
  position: relative;
  /* ARROW. DEFAULT IS CLOSED */
  &:after {
    background: transparent url(../images/svg/nav_down_arrow_white.svg) right center no-repeat;
    content: " ";
    display: block;
    width: 11px;
    height: 7px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
  }
}

@mixin accordion-header-opened() {
  border-bottom: 1px solid $grey_7;
  background-color: $secondary_1;
  &:after {
    transform: rotate(180deg);
  }
}

.view-faq {
  padding-top: 15px;
  div.item-list {
    >ol {
      padding: 0;
      list-style: none;
      >li {
        border-top: 1px solid $grey_7;
        border-bottom: 1px solid $grey_7;
        .views-field-title {
          @include accordion-header();
        }
        .views-field-body {
          display: none;
          padding: 20px;
          p:last-child {
            margin-bottom: 0;
          }
        }
        &.opened {
          border-bottom: none;
          .views-field-title {
            @include accordion-header-opened();
          }
          .views-field-body {
            display: block;
          }
        }
      }
    }
  }
}

.accordion-header {
  @include accordion-header();
  margin-top: 0;
  &.opened {
    @include accordion-header-opened();
    margin-bottom: 0;
  }
}

.accordion-body {
  display: none;
  padding: 20px;
  &.opened {
    display: block;
  }
}
