h1 {
  color: $primary_1;
  font-family: $font_source_sans;
  font-weight: normal;
  font-size: rem(24px);
  line-height: rem(33px);
  @include breakpoint(tablet) {
    font-size: rem(36px);
    line-height: rem(46px);
  }
  @include breakpoint(desktop) {
    font-size: rem(48px);
    line-height: rem(56px);
  }
}

h2 {
  color: $primary_1;
  font-family: $font_open_sans;
  font-size: rem(20px);
  line-height: rem(22px);
  font-weight: normal;
  @include breakpoint(tablet) {
    font-size: rem(36px);
    line-height: rem(44px);
  }
}

h3 {
  color: $primary_1;
  font-family: $font_source_sans;
  font-size: rem(18px);
  line-height: rem(22px);
  font-weight: normal;
  @include breakpoint(tablet) {
    font-size: rem(24px);
  }
  @include breakpoint(desktop) {
    font-size: rem(32px);
    line-height: rem(33px);
  }
}

h4 {
  color: $primary_1;
  font-family: $font_source_sans;
  font-size: rem(16px);
  line-height: rem(22px);
  font-weight: 600;
  @include breakpoint(tablet) {
    font-size: rem(18px);
    font-weight: 400;
  }
  @include breakpoint(desktop) {
    font-size: rem(26px);
    line-height: rem(33px);
  }
}

h5 {
  font-family: $font_source_sans;
  font-size: rem(16px);
  line-height: rem(22px);
  font-weight: 700;
  @include breakpoint(desktop) {
    font-size: rem(20px);
    line-height: rem(33px);
    color: $primary_1;
    font-weight: 600;
  }
}

h6 {
  color: $neutral_1;
  font-family: $font_source_sans;
  font-size: rem(14px);
  line-height: rem(22px);
  font-weight: 700;
  @include breakpoint(desktop) {
    font-size: rem(16px);
  }
}

.show-on-mobile {
  @include show_on_mobile();
}
