h1 {
  color: $primary_1;
  font-size: em(64px);
}

h2 {
  color: $primary_1;
  font-size: em(36px);
}

h3 {
  color: $primary_1;
  font-size: em(36px);
}

h4 {
  color: $primary_1;
  font-size: em(24px);
}

h5 {
  color: $primary_1;
  font-size: em(16px);
  font-weight: 600;
}

h6 {
  color: $primary_1;
  font-size: em(16px);
  font-weight: 700;
}
