@mixin heading-style() {
  color: $primary_1;
  font-weight: 600;
  font-size: em(16px);
  line-height: em(18px);
  margin: 0 0 20px;
}

// =========================================================
// PAGE RELATED CONTENT
// =========================================================
#block-views-related-content-block {
  @include related-content-box;
  h2 {
    @include heading-style;
  }
  .content {
    margin-left: 15px;
    .view-content {
      .views-row {
        background: transparent url(../images/svg/chevron-right-green.svg) 0 8px no-repeat;
        margin-right: 0;
        margin-bottom: 5px;
        padding-left: 15px;
        min-width: 100%;
        @include link-colours($secondary_1, $primary_1, white);
        a {
          font-size: em(14px);
        }
      }
    }
  }
}
