// =========================================================
// HAVE YOUR SAY VIEWS
// =========================================================
body.not-front #content {
  #block-views-have-your-say-block {
    .field-name-field-image {
      display: none;
      @include breakpoint(tablet) {
        display: block;
      }
    }
    .views-exposed-form {
      .views-exposed-widget {
        display: block;
        float: none;
        @include breakpoint(tablet) {
          display: inline-block;
          vertical-align: bottom;
        }
        .SumoSelect {
          margin-bottom: 0;
          height: auto;
          width: 100%;
          @include breakpoint(tablet) {
            min-width: 250px;
            margin-bottom: 0;
            height: auto;
          }
          .CaptionCont {
            border: 2px solid $border-colour;
            padding: rem(6.4px);
            border-radius: 0;
            span {
              line-height: normal;
            }
          }
        }
        input[type="submit"] {
          @include button-filter();
        }
      }
    }
    .view-content {
      padding-top: rem(50px);
      .node.has-thumbnail {
        padding-top: 0;
        @include breakpoint(tablet) {
          padding-top: $listing_component_image_height;
        }
      }
    }
  }
}
