// =========================================================
// SURVEY LANDING PAGE
// =========================================================
body.not-front {
  #content .view.view-literature-surveys {
    .view-filters {
      .views-exposed-widget {
        display: block;
        float: none;
        margin-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        @include breakpoint(tablet) {
          display: table-cell;
          padding-right: 1em;
          width: 33%;
          vertical-align: bottom;
        }
        &.views-submit-button {
          display: block;
          float: none;
          clear: both;
        }
      }
      input[type="text"] {
        border: 1px solid $neutral_1;
        border-radius: 2px;
        height: 42px;
        margin-bottom: 16px;
      }
      select {
        opacity: 1;
        @include breakpoint(tablet) {
          opacity: 0;
        }
      }
      .SumoSelect {
        margin-right: 0;
        width: 100%;
        >.CaptionCont {
          border-color: $neutral_1;
          display: none;
          @include breakpoint(tablet) {
            display: block;
          }
          span {
            max-width: inherit;
            @include breakpoint(tablet) {
              max-width: 200px;
            }
          }
          >span.placeholder {
            font-style: normal;
          }
        }
        label {
          font-weight: normal;
        }
      }
      .form-item-field-tags-tid .SumoSelect {
        height: inherit;
        @include breakpoint(tablet) {
          height: 2.8em;
        }
        select {
          position: relative;
          @include breakpoint(tablet) {
            position: absolute;
          }
        }
      }
      input[type="submit"] {
        margin-top: 0;
      }
    }
    .view-content {
      .views-row {
        border-bottom: 1px solid $grey_6;
        width: 100%;
        margin-right: 0;
        padding-bottom: em(25px);
        .node {
          margin-bottom: em(20px);
          padding-bottom: 0;
        }
        &:last-child {
          border: none;
        }
      }
      .field-name-title, .field-name-field-link-to {
        .field-label {
          display: none;
        }
        h2 {
          margin-bottom: em(10px);
        }
      }
      .field-label {
        display: block;
        float: none;
      }
      .field-name-field-authored-by, .field-name-field-published-in {
        h3 {
          margin: 0;
          font-size: em(18px);
          line-height: inherit;
        }
      }
      .field:last-child {
        margin-bottom: 0;
      }
    }
  }
}

html.no-flexboxlegacy {
  body.not-front {
    #content .view.view-literature-surveys {
      .view-filters {
        .views-exposed-widget {
          float: left;
        }
      }
    }
  }
}

// =========================================================
// LITERATURE SURVEY PAGE
// =========================================================
.page-node .content-body-inner.no-sidebar .region-content {
  .node.node-literature-survey {
    >.content {
      @include outer-container(100%);
      @include center-column($desktop_column);
    }
  }
}
